* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(62, 59, 235),
    rgb(195, 0, 255)
  );
}

img {
  position: absolute;
  left: 800px;
  bottom: 300px;
  border: solid 3px;
  border-radius: 999px;
}

img:hover {
  border-radius: 0px;
  transition-duration: 0.2s;
}
.zy {
  text-align: center;
}

p {
  font-size: 20px;
}

a {
  font-size: 21px;
  color: rgb(140, 228, 209);
}
